<mat-card class="card1">
  <mat-card-content>
    <strong>Patient id:</strong> {{item.id}}<br>
    <strong>Patient Name:</strong>{{item.fname}}<br>
     <strong>Patient Age:</strong>{{item.age}}<br>
     <strong>Date:</strong>{{item.date}}<br>
     <strong>Gender:</strong>{{item.gender}}<br>
     <strong>Mobile:</strong>{{item.mobile}}<br>
     <strong>Email:</strong>{{item.email}}<br>
     <strong>Address:</strong>{{item.address}}<br>
     <strong>City:</strong>{{item.city}}<br>
     <strong>State:</strong>{{item.state}}<br>
     <strong>Pincode:</strong>{{item.pincode}}<br>
     <strong>TypeofTest:</strong>{{item.test}}
  </mat-card-content>
</mat-card>