<div class="form"><h1 >Book an Appointment here</h1>
  <div style="overflow: hidden;">
      <div class="formbox">
          <h5>Patient Name</h5>
          <input type="text" [(ngModel)]="fname">*
      </div>
      <div class="formbox">
        <h5>Age</h5>
        <input type="number" [(ngModel)]="age">*
    </div>
      <div class="formbox">
        <h5>Mobile No</h5>
        <input type="number" [(ngModel)]="mobile">*
    </div>
      <div class="formbox">
          <h5>Email</h5>
          <input type="email" [(ngModel)]="email">*
      </div><br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="date" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field><br>            
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input type="text" matInput [(ngModel)]="city" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of cities | city:city" [value]="option.city">*
            {{option.city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field><br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Specilization</mat-label>
        <input type="text" matInput [(ngModel)]="specilization" [matAutocomplete]="auto3">
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn1">
          <mat-option *ngFor="let option of specilizations " [value]="option.names">*
            {{option.names}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field><br>
       
      <div class="formbox">
          <h5>HealthIssue</h5>
          <textarea [(ngModel)]="message"></textarea>*
      </div>
  </div>
  <div class="alert alert-info" *ngIf="errors.length>0">
      <ul >
          <li *ngFor="let x of errors">{{x}}</li>
      </ul>
  </div>
  <div style="margin:30px;"><button class="btn btn-secondary" (click)="submit()">submit</button></div>
  </div>
  