<mat-toolbar class="menu-outline">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>{{"menubar.title" | translate}}</span>
  <mat-menu #menu="matMenu">
    <ul style="list-style: none;">
      <li routerLinkActive="active">
        <a mat-menu-item routerLink="./home">
          <mat-icon>home</mat-icon>
          {{"menubar.home" | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a mat-menu-item routerLink="./medication">
          <mat-icon>medication</mat-icon>
          {{"menubar.medication" | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a mat-menu-item routerLink="./labtests">
          <mat-icon>Medical Services</mat-icon>
          {{"menubar.labtests" | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a mat-menu-item routerLink="./complaints">
          <mat-icon>feedback</mat-icon>
          {{"menubar.complaints" | translate}}
        </a>
      </li>
    </ul>
  </mat-menu>
  <span [style.marginLeft]="'400px'" [style.color]="'white'">
    <select [(ngModel)]="lang" (change)="changeLang()" style="width: 100px;height:25px;">
       <option *ngFor="let x of languages" value={{x.value}}>
         {{x.name}}</option>
    </select>
 </span>
  <button (click)="logout()" style="background-color: rgb(0, 145, 255); position:relative;left: 100px;color: #fff; padding: 10px 10px; font-size: 16px; border-radius: 4px; cursor: pointer;">{{"menubar.logout" | translate}}</button>
</mat-toolbar>